<% layout('layouts/boilerPlate') %>

<%- include('./partials/navbar') %>

<div class="alert alert-danger mt-5" role="alert">

    <h1>error page</h1>
    <%= err %>
   
</div>
    
</body>
</html>